.basket{
  background-color: rgba(0, 0, 0, 0.5); // Прозрачно-серый фон
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 1.3s ease-in-out;
  &__window{
	background-color: white;
	width: 900px;
	height: 700px;
	border-radius: 10px;
	border: 1px solid black;

  }
  
}